<strong>Olá, {{student}}</strong>
<p>Sua dúvida foi respondida, confira os detalhes abaixo:</p>
<p>
  <strong>Pergunta: </strong> {{question}} <br />
  <strong>Resposta: </strong> {{answer}} <br />
</p>
